[Desktop Entry]
Type=Application
Encoding=UTF-8
Name=MemoryGame0070
Comment=A MemoryGame Application
Exec=/home/hiroppy123/MemoryGame/MemoryGameLauncher.sh
Path=/home/hiroppy123/MemoryGame
Icon=/home/hiroppy123/MemoryGame/app_icon.png
Categories=Game;
